* {
    margin: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-Medium.ttf) format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(./assets/fonts/Roboto-Light.ttf) format('opentype');
    font-display: swap;
}

// Estilos generales
h2, h3 {
    font-family: 'Roboto';
    margin: 0px;
}

h1, p {
    font-family: 'Roboto-Light';
}

$color-primary: #0C1726;
$color-secundary: #3C5973;
$color-tertiary: #8C8377;
$color-white: #FFFFFF;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;


.material-icons.md-20 { font-size: 20px; color: white; background-color: #0C1726; border-radius: 50% }
.material-icons.md-50 { font-size: 50px; color: white; }
.material-icons.md-40 { font-size: 40px; }